:root{
    --seagreen: MediumSeaGreen;
    --tomato100: rgba(255, 99, 71, 1);
    --tomato70: rgba(255, 99, 71, 0.7);
    --tomato50: rgba(255, 99, 71, 0.5);
    --white: white;
    --gray: gray;
    --gray1: rgba(241, 241, 241, 1);
    --green: rgba(76, 175, 80, 1);

    --sidebarwidth: 250px;
}

body{
    // background-color: red;
}